

h3{
    margin-left: 15px
  }
   
  
  .fileInput{

    padding: 5px;
    margin: 10px;
    cursor: pointer;
  }
  
    
  .imgPreview{
    text-align: center;
    margin: 5px 15px;
    height: 500px;
    width: 500px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray
  }
  img{
    width: 100%;
    height: 100%;
  }
  
  
    
  .previewText{
    width: 100%;
    margin-top: 20px
  }
    
    
  .submitButton{
    padding: 12px;
    margin-left: 10px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
      
  }
  .submitButton:hover{
    background: #efefef
  }
  
  
  .centerText{
    text-align: center;
    width: 500px;
  }

  .hepsi{
    width: 100%;
    min-height: 600px;
    margin: 0px;
    padding: 0px;
  }

  .sol{
    width: 50%;
    min-height: 100px;
    float: left;
  }
  .sag{
    float: right;
    width: 50%;
    min-height: 100px;
  }
